* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.homepage-container {
    top: 10;
    width: 300px;
    margin: 11% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.RQ {
    margin-top: 10%;
    font-size: 72px;
    font-family: "Copperplate", Fantasy;
}

.login-container {
    width: 300px;
    margin: 1% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 20px;
    text-align: center;
}

#message2 {
    margin-top: 15px;
    text-align: center;
}

.image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    max-height: 200px;
    object-fit: cover;
    z-index: 2;
}